name: Build and Publish to NPM
on:
  push:
    branches:
      - master
      - main

permissions:
  # by default, permissions are read-only, read + write is required for git pushes (conventional changelog action)
  contents: write
  # Required for OIDC
  id-token: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      # if we can't build, then we shouldn't move forward with determining the changelog or publishing
      - run: pnpm install && pnpm build
      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@v6
        with:
          github-token: ${{ secrets.github_token }}
          version-file: "./package.json"
          output-file: "CHANGELOG.md"
      - name: Publish to NPM
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        # these magic flags use the OIDC token to authenticate instead of a static NPM token
        run: pnpm publish --provenance --access public
      - name: Github Release
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        uses: softprops/action-gh-release@v2
        with:
          # output options: https://github.com/TriPSs/conventional-changelog-action#outputs
          body: ${{ steps.changelog.outputs.clean_changelog }}
          tag_name: ${{ steps.changelog.outputs.tag }}
